FinalWebApplication/Service References/YelpNearest/YelpServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YelpServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YelpServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar23.fulton.asu.edu/Page0/Page01/YelpServices.YelpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/YelpSharp.Data" />
  <xs:complexType name="YelpSearchResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YelpSharp.Data" minOccurs="0" name="lstBusiness" nillable="true" type="q1:ArrayOfBusiness" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YelpSharp.Data" minOccurs="0" name="objRegion" nillable="true" type="q2:Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YelpSearchResult" nillable="true" type="tns:YelpSearchResult" />
</xs:schema>